/*
  - Font sizes(px):
    10/ 12/ 14/ 16/ 18/ 20/ 24/ 30/ 36/ 44/ 52/ 62/ 74/ 86/ 98

  - Spacing system (px)
    2/ 4/ 8/ 12/ 16/ 24/ 32/ 48/ 64/ 80/ 96/ 128

*/

/* BELOW 1344PX (Smaller desktops)  */

@media (max-width: 84em) {
  html {
    font-size: 56.25%;
  }

  /* .landing_section {
    max-width: 120rem;
    margin: 0 auto;
  } */
  .landing_section {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
}

/* BELOW 1200PX (Landscape Tablets)  */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .landing_section {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .heading-primary {
    font-size: 3.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }
}

/* BELOW 944PX ( Tablets)  */
@media (max-width: 59em) {
  html {
    font-size: 45%;
  }

  .btn-mobile-nav {
    display: block;
  }

  .heading-primary {
    font-size: 2.4rem;
  }
  .main-nav {
    background-color: rgb(255, 255, 255, 0.97);
    position: absolute;
    /* top: 10%;
    left: 0; */
    width: 100%;
    height: 100vh;

    /* display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s; */

    /*Hide Navigation*/
    /*Allows NO transition at all*/
    /* display: none; */
    /* 1. Hide it visually*/
    opacity: 0;
    /*2. Make it accessible to mouse and keyboard */
    pointer-events: none;
    /*3. Hide it from screen readers*/
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

    /* padding-top: 5%;
    padding-left: 10%; */
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .main-nav-list {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  /*****************************************dropdown************************/

  header {
    padding: 100%;
  }

  /* header label {
    display: initial;
  } */

  header .main-nav {
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  header .main-nav ul li {
    position: relative;
    width: 100%;
  }

  header .main-nav ul li ul {
    position: relative;
    width: 100%;
  }

  header .main-nav ul li ul li a {
    /* background: #eee; */
    flex-direction: column;
    width: 100%;
  }

  /**********AUDIO TRANSCRIPT*****************/

  .audioContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .audioTranscript {
    line-height: 8rem;
    font-size: 4.4rem;
    font-weight: 700;
    font-family: cursive;
  }
  .relateddiv,
  h4 {
    font-size: 4.4rem;
  }
  /**************************************************FOOTER****************************************/

  footer {
    font-size: 2.4rem;
    font-weight: 600;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
}

/*BELOW 704px(Smaller tablets)*/

@media (max-width: 44em) {
  html {
    font-size: 26%;
  }

  .landing_section {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .heading-primary {
    font-size: 3.6rem;
  }
}
